.add-user-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000029;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.add-user-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #808080bf;
  background: white;
  padding: 1rem;
}